#footer {
    background-color: #e4e4e4;
    padding: 50px 0;
}

.address-row {
    @include media ('>=tablet') {
        display: flex;
        justify-content: space-between;
        margin: 0 -30px;
    }
    .address {
        @include media ('>=tablet') {
            width: 33.31%;
            padding: 0 30px;
        }
        address {
            display: block;
            margin: 0 0 10px;
        }
        strong {
            display: block;
            font-size: 20px;
            margin: 0 0 15px;
        }
    }
}