input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    border: 1px solid #ccc;
    padding: 15px 20px;
    background: #fff;
    width: 100%;
    margin: 0 0 20px;
    &:focus {
        border-color: $blue;
        outline: none;
    }
    &:active {
        border-color: $blue;
        outline: none;
    }
    &:hover {
        border-color: $blue;
        outline: none;
    }
    &::placeholder {
        color: $placeholder-color;
        font-size: $placeholder-font-size;
    }
}

// input[type="submit"] {
//     // your custom style
// }