.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

// main-slider
.main-slider__img {
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.slick-slider {
    position: relative;
    .slick-dots {
        display: none!important;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        @include media ('>=tablet') {
            display: block!important;
        }
        li {
            margin: 0 0 5px 0;
            &:last-child {
                margin: 0;
            }
        }
        button {
            border: 2px solid #fff;
            background: $blue;
            font-size: 0;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            outline: none;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                border: 2px solid $blue;
                background: $white;
            }
        }
    }
}

//  heading
.heading {
    max-width: 800px;
    margin: 0 auto 20px;
    text-align: center;
    h2 {
        color: $blue;
    }
    @include media ('>=tablet') {
        margin: 0 auto 60px;
    }
}

//  btn 
.btn {
    outline: none;
    border: 1px dashed #22596E;
    text-align: center;
    padding: 15px;
    transition: all 0.3s;
    border-radius: 5px;
    background-color: transparent;
    &.btn-leave__request {
        display: block;
        max-width: 600px;
        margin: 0 auto 20px;
        padding: 10px;
        font-size: 12px;
        @include media ('>=tablet') {
            font-size: 16px;
            margin: 0 auto 30px;
            padding: 20px;
        }
    }
    &:hover {
        border-color: transparent;
        background-color: $blue;
        color: $white;
    }
}

h2 {
    @include media ('>=tablet') {
        font-size: 30px;
    }
}

//  services
.services__items {
    @include media ('>=tablet') {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.service__item {
    text-align: center;
    border-bottom: 1px solid #F1F2F3;
    padding: 30px 20px;
    @include media ('<=tablet') {
        &:last-child {
            border-bottom: 0;
        }
    }
    @include media ('>=tablet') {
        width: 33.31%;
        border: 1px solid #F1F2F3;
        border-top: none;
        border-left: none;
        padding: 20px 20px 50px;
        &:nth-child(3n) {
            border-right: 0;
        }
    }
    &:hover {
        i {
            transform: scale(1.4);
        }
    }
}

.service__item-img {
    width: 75px;
    height: 75px;
    background: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    margin: 0 auto 20px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    @include media ('>=tablet') {
        width: 90px;
        height: 90px;
        font-size: 36px;
    }
    i {
        transition: all 0.3s;
    }
}

// our-advantages
.items-our-advantages {
    @include media ('>=tablet') {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    li {
        position: relative;
        width: 25%;
        padding: 0 10px;
        cursor: pointer;
        &:after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            content: "\e969";
            font-family: 'icomoon';
            margin: -25px -25px 0 0;
            font-size: 35px;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        &:hover {
            i {
                transform: scale(1.1);
            }
        }
    }
    .item-our-advantages {
        width: 150px;
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 700;
    }
    i {
        width: 100px;
        height: 100px;
        background-color: $blue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        margin: 0 auto 20px;
        color: $white;
        transition: all 0.3s;
    }
}

// table-pricing
#table-pricing {
    th {
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        &:last-child {
            border-right: 0;
        }
        @include media ('>=tablet') {
            font-size: 16px;
        }
    }
    td {
        padding: 8px 10px;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        font-size: 14px;
        &:last-child {
            border-right: 0;
        }
        @include media ('>=tablet') {
            font-size: 16px;
        }
    }
    .center {
        text-align: center;
    }
    .td-width {
        @include media ('>=tablet') {
            width: 100px;
        }
    }
    .btn {
        padding: 8px 10px;
        background-color: $blue;
        color: $white;
        border: none;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.text-table {
    font-size: 12px;
}

.table-responsive {
    margin: 0 0 10px;
    // width: 768px;
    // overflow-x: scroll;
}